<div class="container-fluid">
	<div class="row-fluid">
		<p>
			<span class="label label-info">{{filename}}</span>
		</p>
		<div class="well">
			<form class="form-inline">
				<select class="span2" ng-model="position">
					<option value="1">1 000 000</option>
					<option value="2">2 000 000</option>
					<option value="5">5 000 000</option>
					<option value="10">10 000 000</option>
				</select>
				<button class="btn" type="button"
					ng-click="reCalculate()"><em class="icon-repeat"></em> Re-calculate</button>
				<button class="btn" type="button"><em class="icon-share"></em> Export</button>	
			</form>
		</div>
		<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th>
						Date
					</th>
					<th>
						OPEN
					</th>
					<th>
						HIGH
					</th>
					<th>
						LOW
					</th>
					<th>
						L/PRICE
					</th>
					<th>
						ACTION
					</th>
					<th>
						VOL
					</th>
					<th>
						STOP1
					</th>
					<!-- <th>
						STOP
					</th> -->
					<th>
						TARGET1
					</th>
					<th>
						TARGET2
					</th>
					<th>
						TRADES
					</th>
					<th>
						1<sup>st</sup> EXIT
					</th>
					<th>
						2<sup>st</sup> EXIT
					</th>
					<th>
						PROFIT(bp)
					</th>
					<th>
						PROFIT(ccy)
					</th>
					<th>
						BALANCE(ccy)
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in records" class="{{getRecordClass(item)}}">
					<td>
						{{item.date}}
					</td>
					<td>
						{{item.open}}
					</td>
					<td>
						{{item.high}}
					</td>
					<td>
						{{item.low}}
					</td>
					<td>
						{{item.last_price}}
					</td>
					<td>
						{{item.action}}
					</td>
					<td>
						{{item.vol}}
					</td>
					<td>
						{{item.stop1}}
					</td>
					<!-- <td>
						1.50638
					</td> -->
					<td>
						{{item.target1}}
					</td>
					<td>
						{{item.target2}}
					</td>
					<td>
						{{item.trades}}
					</td>
					<td>
						{{item.exit1}}
					</td>
					<td>
						{{item.exit2}}
					</td>
					<td>
						{{item.profit_bp}}
					</td>
					<td>
						{{item.profit_ccy}}
					</td>
					<td>
						
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>		